<app-navbar></app-navbar><br /><br />
<body>
  <div class="bg">
    <div class="card-body">
      <div class="row">
        <div
          style="
            margin-left: 230px;
            height: 270px;
            width: 450px;
            margin-right: 130px;
          "
        >
          <a routerLink="/teacherviewreport">
            <h6 style="color: black;">Students Reports</h6>
            <img
              style="height: 220px; width: 280px;"
              src="../../assets/Image/TeacherReports.png"
          /></a>
        </div>
        <div style="height: 270px; width: 520px;">
          <a routerLink="/viewattendance">
            <h6 style="color: black;">Students Attendance</h6>
            <img
              style="height: 220px; width: 280px;"
              src="../../assets/Image/att.jpg"
          /></a>
        </div>
      </div>
      <div class="row">
        <div
          style="
            margin-left: 240px;
            height: 270px;
            width: 450px;
            margin-right: 120px;
          "
        >
          <a routerLink="/teachertimetable">
            <h6 style="color: black;">Time Table</h6>
            <img
              style="height: 220px; width: 250px;"
              src="../../assets/Image/tt.jpg"
          /></a>
        </div>

        <div style="height: 300px; width: 520px;">
          <a routerLink="/teacheronlinecourse">
            <h6 style="color: black;">Online Course</h6>
            <img
              style="height: 250px; width: 250px;"
              src="../../assets/Image/OnlineCourse.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</body>
