<app-student-navbar></app-student-navbar><br /><br />
<body>
  <div class="bg" style="margin: auto;">
    <div class="card-body">
      <div class="row">
        <div
          style="
            margin-left: 200px;
            height: 270px;
            width: 450px;
            margin-right: 130px;
          "
        >
          <a routerLink="/studentreportbyid">
            <h6 style="color: black;">Report</h6>
            <img
              style="height: 220px; width: 350px;"
              src="../../assets/Image/StudentReport.png"
          /></a>
        </div>
        <div style="height: 270px; width: 520px;">
          <a routerLink="/onlinetestselection">
            <h6 style="color: black;">Online Test</h6>
            <img
              style="height: 220px; width: 350px;"
              src="../../assets/Image/Test.png"
          /></a>
        </div>
      </div>
      <div class="row">
        <div style="  margin-left: 200px;
        height: 270px;
        width: 450px;
        margin-right: 130px;">
          <a routerLink="/timetable">
            <h6 style="color: black;">Time Table</h6>
            <img
              style="height: 200px; width: 250px;"
              src="../../assets/Image/timet.jpg"
          /></a>  
        </div>

        <div style="height: 300px; width: 520px;">
          <a routerLink="/studentviewattendance">
            <h6 style="color: black;">Attendance</h6>
            <img
              style="height: 200px; width: 250px;"
              src="../../assets/Image/Attendance.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</body>
