<app-principal-navbar></app-principal-navbar><br /><br />
<body>
  <div class="bg">
    <div class="card-body">
      <div class="row">
        <div
          style="
            margin-left: 200px;
            height: 270px;
            width: 450px;
            margin-right: 130px;
          "
        >
          <a routerLink="/liststudent">
            <h6 style="color: black;">List Studens</h6>
            <img
              style="height: 220px; width: 280px;"
              src="../../assets/Image/teacherreport.png"
          /></a>
        </div>
        <div style="height: 270px; width: 520px;">
          <a routerLink="/listteacher">
            <h6 style="color: black;">List Teachers</h6>
            <img
              style="height: 220px; width: 280px;"
              src="../../assets/Image/li.png"
          /></a>
        </div>
      </div>
      <div class="row">
        <div
          style="
            margin-left: 200px;
            height: 270px;
            width: 450px;
            margin-right: 130px;
          "
        >
          <a routerLink="/addstudent">
            <h6 style="color: black;">Add Student</h6>
            <img
              style="height: 240px; width: 280px;"
              src="../../assets/Image/stu.png"
          /></a>
        </div>

        <div style="height: 300px; width: 520px;">
          <a routerLink="/addteacher">
            <h6 style="color: black;">Add Teachers</h6>
            <img
              style="height: 240px; width: 280px;"
              src="../../assets/Image/teacher.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</body>
