<app-student-navbar></app-student-navbar><br /><br />
<h2
  style="
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: red;
    color: black;
  "
>
  Students Home Page
</h2>
<body style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3>HTML 5</h3>

        <div class="border" style="border: gray;">
          <video controls>
            <source src="assets/Videos/HTML1.mp4" type="video/mp4" />
          </video>

          <p>
            By attending this video you will be able to understand the HTML
            elements.
          </p>
        </div>
      </div>

      <div class="col-md-4 offset-1">
        <div>
          <h3>CSS 3</h3>

          <div>
            <video controls>
              <source
                src=".mp4"
                type="video/mp4"
              />
            </video>

            <p>
              By attending this video you will be able to understand the CSS
              styles.
            </p>
          </div>
        </div>

        <div>
          <h3>JavaScript</h3>

          <div>
            <video controls>
              <source
                src=".mp4"
                type="video/mp4"
              />
            </video>

            <p>
              By attending this video you will be able to understand the
              JavaScript.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
